<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web-apps</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>CategoryMgr</servlet-name>
    <servlet-class>Servlet.categorysManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryMgr</servlet-name>
    <url-pattern>/CategorysManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryMgrUI</servlet-name>
    <jsp-file>/webPages/Categorys Manager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryMgrUI</servlet-name>
    <url-pattern>/CategorysManagerUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryEditUI</servlet-name>
    <jsp-file>/webPages/editCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEditUI</servlet-name>
    <url-pattern>/EditCategoryUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>header</servlet-name>
    <jsp-file>/header.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetailMgrUI</servlet-name>
    <jsp-file>/webPages/ProductDetails Manager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailMgrUI</servlet-name>
    <url-pattern>/ProductDetailUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProductDetailMgrUI</servlet-name>
    <jsp-file>/webPages/viewProductDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductDetailMgrUI</servlet-name>
    <url-pattern>/ViewDetailUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersMgrUI</servlet-name>
    <jsp-file>/webPages/Orders Manager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersMgrUI</servlet-name>
    <url-pattern>/Oders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsMgrUI</servlet-name>
    <jsp-file>/webPages/Products Manager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsMgrUI</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsManager</servlet-name>
    <servlet-class>Servlet.ProductsManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsManager</servlet-name>
    <url-pattern>/ProductManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editProductUI</servlet-name>
    <jsp-file>/webPages/editProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProductUI</servlet-name>
    <url-pattern>/ProductEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addDetails</servlet-name>
    <jsp-file>/webPages/add Details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDetails</servlet-name>
    <url-pattern>/AddDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailManager</servlet-name>
    <servlet-class>Servlet.ProductDetailsManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailManager</servlet-name>
    <url-pattern>/ProductDetailsManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editDetails</servlet-name>
    <jsp-file>/webPages/edit Details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editDetails</servlet-name>
    <url-pattern>/EditDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageUpload</servlet-name>
    <jsp-file>/webPages/image Upload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageUpload</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>filesUpload</servlet-name>
    <servlet-class>Servlet.FilesUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filesUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  
</web-app>